<div class="container">
  <div class="jumbotron">
 <h1>Flicks 2.0</h1>
 <p>Welcome on the improved page with films :)</p>
 <p>There is a few more functionalities this time and everything looks a bit better.</p>
  <img src="http://www.officialpsds.com/images/thumbs/Pink-flim-strip-psd51260.png" alt="HTML5 Icon">

</div>
 </div>
