<div class="container">
  <div class="jumbotron">
 <h1>Flicks</h1>
 <p>Welcome on the page with films :)</p>
  <img src="http://www.officialpsds.com/images/thumbs/Pink-flim-strip-psd51260.png" alt="HTML5 Icon">

</div>
 </div>
